Django==4.2.0
djangorestframework==3.14.0
numpy==1.26.4
sgp4==2.21
requests==2.31.0
kafka-python==2.1.5
python-decouple==3.8
pymongo==4.6.1
python-dateutil==2.8.2
pytz==2024.1

# Task queue and scheduling
django-celery-beat


# Data processing
pandas
scikit-learn

# Kafka
confluent-kafka